<div class="footer">
    <div class="top">
        <div class="sd-wrapper">
            <ul class="info_list">
                <li>
                    主管单位：浙江省教育厅
                </li>
                <li>
                    主办单位：浙江广播电视大学
                </li>
                <li>
                    指导单位：浙江省教育技术中心
                </li>
                <li>
                    技术支持：北京奥鹏远程教育中心有限公司
                </li>
            </ul>
            <p class="copy_right">
                Copyright©2018浙江学习网 浙ICP备05018780号
            </p>
        </div>
    </div>
    <div class="bottom">
        <div class="sd-wrapper">
            <div class="fl phone">
                <i class="iconfont icon-dianhua1 mr20"></i>400-928-6900
            </div>
            <div class="fr qcode">
                扫一扫，加官方微信
                <img src="/web/static/images/app.png" alt="">
            </div>
            <ul class="fun_list">
                <li>
                    <a href="">新手指南</a>
                </li>
                <li>
                    <a href=""> 注册</a>
                </li>
                <li>
                    <a href="">登录</a>
                </li>
                <li>
                    <a href="">找回密码</a>
                </li>
                <li>
                    <a href="">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</div>