<!--设置考核比例-->
<div class="scale_wrap">
    <div class="modal_content hw_content">
        <input type="text" placeholder="请输入章节名称" class="create_name" v-model="options.thisChapter.contentName">
        <label>作业截止时间：</label>
        <input type="text" id="workEndDate" onclick="WdatePicker({dateFmt:'yyyy/MM/dd HH:mm'});"
               class="form-control validator"/>
        <div class="search mt20">
            <input class="fl" type="text" placeholder="请输入关键字" v-model="search.name">
            <button class="btn search_btn fr" @click="getHomeWorkList">查询</button>
            <i class="fix"></i>
        </div>
        <ul class="hw_list">
            <li class="row hw_li title">
                <span class="col-md-1"></span>
                <span class="col-md-11">作业名称</span>
            </li>
            <li class="row hw_li" v-for="row in rows_homeWork">
            <span class="col-md-1 select_btn">
                <input type="radio" v-model="options.thisChapter.workId" :value="row.id">
            </span>
                <span class="col-md-11 ">
                <span class="limittext" v-text="row.mc">
                </span>
            </span>
            </li>
        </ul>
        <div class="select_video_page"></div>
        <div class="btn_wrap">
            <button class="btn cancel_btn" @click="closeModal">取消</button>
            <button class="btn confirm_btn" @click="submitChapter">保存</button>
        </div>
    </div>
</div>