<div class="class_manage_wrap xscj_wrap" >
	<!-- <div class="row man_header">
		<span class="fr col-md-6">
			<span class="col-md-4">
				<select name="" id="" class="form-control"></select>
			</span>
			<span class="col-md-8 right_bar  e-box">
				<input type="text" class="col-md-11">
				<i class="iconfont">&#xe600;</i>
			</span>
		</span>
	</div> -->
	<ul class="man_list e-box" v-if="xyKcList.length>0">
		<li class="title row">
			<span class="col-lg-2">学员姓名</span>
            <span class="col-lg-2">班级</span>
            <!-- <span class="col-lg-2">课程</span> -->
            <span class="col-lg-1">视频得分</span>
            <span class="col-lg-1">作业得分</span>
            <span class="col-lg-1">测试得分</span>
            <span class="col-lg-1">线上成绩</span>
            <span class="col-lg-1">考核状态</span>
		</li>
		<li class=" row" v-for="src in xyKcList">
			 <span class="col-lg-2" v-text="src.xyMc"></span>
            <span class="col-lg-2" v-text="src.bjMc"></span>
            <!-- <span class="col-lg-2" v-text="src.kcMc"></span> -->
            <span class="col-lg-1" v-text="src.spFs!=null?src.spFs+'分':'-'"></span>
            <span class="col-lg-1" v-text="src.zyFs!=null?src.zyFs+'分':'-'"></span>
            <span class="col-lg-1" v-text="src.ksFs!=null?src.ksFs+'分':'-'"></span>
            <span class="col-lg-1" v-text="src.kcDf!=null?src.kcDf+'分':'-'"></span>
            <span class="col-lg-1" v-text="src.kcTgkh==1?'通过':'未通过'"></span>
		</li>
	</ul>
	<ul v-else>
       <div class="nodata-warp">
            <p>暂无数据</p>
        </div>
     </ul>

</div>