
<div class="teacher_team_wrap">
	<ul class="e-box" v-if="dataList.length>0">
		<li class="row title">
			<span class="col-md-3">姓名</span>
			<span class="col-md-3">手机</span>
			<span class="col-md-3">邮箱</span>
			<!-- <span class="col-md-3">院校</span> -->
			<span class="col-md-3">角色</span>
		</li>
		<li class="row" v-for="item in dataList">
			<span class="col-md-3" v-text="item.name"></span>
			<span class="col-md-3" v-text="item.phone"></span>
			<span class="col-md-3" v-text="item.email"></span>
			<!-- <span class="col-md-3" v-text="item.phone">sdafsdfsadf</span> -->
			<span class="col-md-3" >教师</span>
		</li>
	</ul>
	<ul v-else>
		<div class="nodata-warp">
            <p>暂无数据</p>
        </div>
	</ul>
</div>