 <div class="nav-right my-homework fr e-box">
            <div class="ep_header">
                <div class="input_wrap">
                    <input type="text" placeholder="请输入测试名称" v-model="searchOptions.kcnrmc">
                    <i class="iconfont">&#xe600;</i>
                </div>
                <div class="btn-group mr20">
                    所属课程：
                    <span style="width:150px;display: inline-block;">
                    	<select  v-model="searchOptions.kcid" class="top_selecte form-control">
                        <option value="">全部</option>
                        <option v-for="kc in kcRow" :value="kc.id" v-text="kc.name"></option>
                    </select>
                    </span>
                    
                </div>
                <div class="btn-group">
                    试卷状态：
                     <span style="width:100px;display: inline-block;">
	                    <select name="lx" v-model="searchOptions.zt" class="top_selecte form-control">
	                        <option value="2">全部</option>
	                        <option value="0">待批卷</option>
	                        <option value="1">已完成</option>
	                    </select>
	                </span>
                </div>
                <button class="ml20 btn search_btn" @click="getcjList()">查询</button>
                <i class="fix"></i>
            </div>
            <div class="nav-right-content">
                <table class="tb1">
                    <thead>
                    <tr>
                        <th>测试名称</th>
                        <th>试卷状态</th>
                        <th>测试总分</th>
                        <th>测试得分</th>
                        <th>所属课程</th>
                        <th>学员姓名</th>
                        <th>交卷时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="cj in cjList">
                        <td v-text="cj.kcnrmc"></td>
                        <td v-if="cj.zt == 0">待批卷</td>
                        <td v-if="cj.zt == 1">已完成</td>
                        <td v-text="cj.sjzf"></td>
                        <td v-text="cj.fs"></td>
                        <td v-text="cj.kcmc"></td>
                        <td v-text="cj.xymc"></td>
                        <td>{%cj.jjsj  | date %}</td>
                        <td v-if="cj.zt == 0"><button class="btn" @click="pijuan(cj)">批卷</button></td>
                        <td v-if="cj.zt == 1"><button class="btn" @click="chakan(cj)">查看</button></td>
                    </tr>
                    </tbody>
                </table>
                <div class="cj-page"></div>
            </div>
        </div>